body{
    background-image: url("../../public/Images/Background/JapanTown.gif");
    background-size: cover;
    margin: 0;
}

#field{
    position: relative;
    left: 0;
}

#GameField{
    margin: 425px 0 auto;
    padding-left: 0;
    height: 85px;
    width: 840px;
}

#samurai{
    height: 100%;
    width: 100%;
    /*position: fixed;
    left: 270px;
    height: 60px;
    width: 30px;*/
}

#bird{
    height: 100%;
    width: 100%;
    /*position: fixed;
    left: 270px;
    height: 60px;
    width: 30px;*/
}

#grounds{
    left: 110px;
    top: 260px;
}

#ground{
    height: 100%;
    width: 60px;
    border-bottom: 50px solid #181818;
    /*height: 20px;
    width: 250px;
    border-top: 1px solid black;
    border-bottom: 5px solid black;*/
}

#cactus{
    height: 100%;
    width: 100%;
    /*position: fixed;
    top: 210px;
    left: 550px;
    height: 50px;
    width: 35px;*/
}

table{
    border-spacing: 0;
    width: 1600px;
}

td{
    height: 75px;
    width: 59px;
    padding: 0;
    border: 0;
}

#allRoadTr{
    position: relative;
    width: 1600px;
}

#samuraiTd{
    position: relative;
}

#inputForJumpPerson{
    position: fixed;
    top: 0;
    left: 0;

    z-index: 2;

    height: 1000px;
    width: 100%;

    content-visibility: hidden;
    background-color: transparent;
}