body{
    background-image: url("../../public/Images/Background/JapanTown.gif");
    background-size: cover
}

#GameField{
    margin: 420px auto auto;
    height: 85px;
    width: 840px;
}

#samurai{
    height: 65px;
    width: 40px;
    /*position: fixed;
    left: 270px;
    height: 60px;
    width: 30px;*/
}

#bird{
    height: 80px;
    width: 50px;
    /*position: fixed;
    left: 270px;
    height: 60px;
    width: 30px;*/
}

#grounds{
    position: fixed;
    left: 110px;
    top: 260px;
}

#ground{
    height: 70px;
    width: 75px;
    /*height: 20px;
    width: 250px;
    border-top: 1px solid black;
    border-bottom: 5px solid black;*/
}

#cactus{
    height: 45px;
    width: 25px;
    /*position: fixed;
    top: 210px;
    left: 550px;
    height: 50px;
    width: 35px;*/
}

table{
    border-spacing: 0px;
}

td{
    align-content: center;
    height: 85px;
    width: 55px;
    padding: 0px;
    border: 0px;

    border-bottom: 3px solid #483611;
}